Project_Firefly/Temp/UnityLockfile
Project_Firefly/Temp/*
Project_Firefly/Assembly-CSharp.csproj
Project_Firefly/Assembly-CSharp-firstpass.csproj
Project_Firefly/Assembly-CSharp-firstpass-vs.csproj
Project_Firefly/Assembly-CSharp-vs.csproj
Project_Firefly/Assembly-UnityScript-firstpass.unityproj
Project_Firefly/Assembly-UnityScript-firstpass-vs.unityproj
Project_Firefly/Assets/GUI.meta
Project_Firefly/Library/assetDatabase3
Project_Firefly/Library/CurrentMaximizeLayout.dwlt
Project_Firefly/Library/guidmapper
Project_Firefly/Library/metadata/9e/9e1de3f979b8bbf46b49b012c592fbee
Project_Firefly/Library/metadata/ca/caa9cf1b3baf89445abc051c925b1b05
Project_Firefly/Library/metadata/dd/dd64fcb31088a3c4d808fede15b2971c
Project_Firefly/Library/ScriptAssemblies/Assembly-CSharp.dll
Project_Firefly/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Project_Firefly/Project_Firefly.sln
Project_Firefly/Project_Firefly-csharp.sln
